body {
  background-color: #dddddd;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    align-items: center;
    box-shadow: 1px 2px 10px #000000;
  }
  
  td  {
    border: 0px solid #dddddd;
    text-align: center;
    padding: 20px;
  }

  th  {
    border: 0px solid #dddddd;
    text-align: center;
    padding: 20px;
    background-color: #dddddd;
  }

  h2 {
    text-align: center;
  }

  .container{
    box-sizing: border-box;
    background-color: #fff;
    margin: 40px;
    width: auto;
    height: auto;
  }
  